.git
.github
.venv
**/.venv
**/__pycache__
**/*.py[cod]
**/.pytest_cache
**/.ruff_cache

.env
frontend
docs
scripts
backend/tests
backend/Dockerfile
knowledge_base/*
!knowledge_base/templates
!knowledge_base/templates/**

*.log
README.md
docker-compose.yml
